@import "vars";

#main {
    &.home {
        #destacats {
            .cover-item {
                position: relative;
                margin-top: 10px;

                .cover-info {
                    position: absolute;
                    bottom: 15px;
                    color: white;
                    background: rgba(0, 0, 0, 0.4);
                    padding: 10px;
                }
            }
        }

        #activitats {
            margin-top: 20px;
            text-align: center;
            margin-bottom: 40px;

            .activitat-explora {
                margin: 0px auto;
            }
        }

        #socis {
            margin-top: 20px;
            text-align: center;
            margin-bottom: 40px;

            #soci-info {
                text-align: center;
                margin-bottom: 40px;
    
                .soci-module-container {
                    .soci-module {
                        background: #f3f3f3;
                        color: #747474;                        
                        text-align: center;
                        padding: 10px;
                        font-family: 'Montserrat';
                        margin:10px;
                    }
    
                    .price {
                        font-size: 35px;
                        color: #bd1129;
                        font-weight: 600;
                        margin: 0px;
                    }
    
                    .type {
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 50px;
                        line-height: 20px;
                    }
    
                    .soci-module-info {
                        ul {
                            list-style-type: none;
                            padding: 0px;
    
                            li {
                                margin: 0px;
                                position: relative;
                                padding: 20px 0px;
    
                                &:after {
                                    content: " ";
                                    width: 120px;
                                    margin: 0 auto;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    background: #dee3e7;
                                    height: 1px;
                                }
    
                                &:last-child::after {
                                    display: none;
                                }
                            }
                        }
    
                    }
                }
            }
    
            #soci-formulari {
                color: #000;
            }
        }
    }
}